@model ServiPuntosUyAdmin.Models.Service
@{
  Layout = "_Layout";
}
<h2>Confirmar eliminación</h2>
<dl class="row">
  <dt class="col-sm-2">Nombre</dt><dd class="col-sm-10">@Model.Name</dd>
  <dt class="col-sm-2">Precio</dt><dd class="col-sm-10">@Model.Price</dd>
</dl>
@using(Html.BeginForm("Delete","Service",new{ id=Model.Id },FormMethod.Post)){
  @Html.AntiForgeryToken()
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
}
