@model IEnumerable<ServiPuntosUyAdmin.Models.Tenant>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadenas (Tenants)</h2>
<a class="btn btn-success" href="/Tenant/Create"><i class="fa fa-plus"></i> Nueva Cadena</a>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" style="margin-top:15px;">
        @TempData["Success"]
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" style="margin-top:15px;">
        @ViewBag.Error
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Name</td>
            </tr>
        }
    </tbody>
</table>